<html>
  <head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/css/app.min.css">
  </head>
  <body>
    <nav class="navbar navbar-inverse">
      <div class="container">
        <ul class="nav navbar-nav navbar-center">
          <li><a href="/index.html">Home</a></li>
          <li><a href="/aboutMe.html">About Me</a></li>
          <li><a href="https://github.com/slowbot-mobot">Github</a></li>
        </ul>
      </div>
    </nav>
    <div class="container">
      <article>
        <div class="row">
          <div class="col-md-8">
            <div class="post-title">
              <h2>{{ file.page.title }}</h2>
            </div>
            <div class="post-meta">
              <div>Published on: {{ file.page.published_on }}</div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-12">
            <div class="post-meta">
              Author: {{ file.page.author }}
            </div>
            <br>
            <div class = "post-body">
              {{ file.page.content | safe }}
            </div>
          </div>
        </div>
      </article>
    </div>

    <nav class="navbar navbar-default navbar-fixed-bottom">
      <div class="container">
        Here is some footer words.
      </div>
    </nav>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    <script src="js/app.min.js"></script>
  </body>
</html>
