<html>
  <head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/css/app.min.css">
  </head>
  <body>
    <nav class="navbar navbar-inverse">
      <div class="container">
        <ul class="nav navbar-nav navbar-center">
          <li><a href="/index.html">Home</a></li>
          <li><a href="/aboutMe.html">About Me</a></li>
          <li><a href="https://github.com/slowbot-mobot">Github</a></li>
        </ul>
      </div>
    </nav>
    <div class="container">
      <article>
        <div class="row">
          <div class="col-md-12">
            <div class="post-title">
              {{ file.page.title }}
            </div>
            <div class="post-date">
              <div>Published on: {{ file.page.published_on }}</div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-12">
            <div class="post-author">
              Author: {{ file.page.author }}
            </div>
            <br>
            <div class = "post-body">
              {{ file.page.content | safe }}
            </div>
          </div>
        </div>
        <ul class="list-unstyled list-inline" id="relatedPosts"></ul>
      </article>
    </div>
    <article id="taggedPostTemplate"></article>
    <ul>
    <li id="relatedPostTemplate"></li>
    </ul>
    <!--
    <nav class="navbar navbar-default navbar-bottom">
      <div class="container">
        Here is some footer words.
      </div>
    </nav>
    -->

    <script type="application/text" id="currTags">{{ file.page.tags }}</script>
    <script type="application/json" id="json_posts">{{ site.posts_as_json }}</script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js"></script>
    <script src="../../../../js/app.min.js"></script>
  </body>
</html>
