{% extends 'page.html' %}

{% block content %}
<div class="content-wrap">
  <div class="container">
    <div class="row">
      <nav class="col-md-3">
        <div class="nav nav-pills nav-stacked" data-spy="affix" data-offset-top="205">
          <a href="tags.html">Search by tags</a>       
        <div>
      </nav>

      <div id="posts" class="col-md-9 clearfix">
        {% for post in site.posts %}
          <div class="entry clearfix">
            <div class="entry-content">
              <div class="post-title">
                {{ post.title }}
              </div>
              <div class="post-date">
                Published on: {{ post.published_on }}
              </div>
              <div class="post-body">
                {{ post.summary|safe }}
                <a class="more-link" href="{{ post.permalink }}">Continue reading this article</a>
              </div>
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
</div>
{% endblock %}
