{% extends 'page.html' %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col-md-12">
      {% for post in site.posts %}
        <article>
          <h2>{{ post.title }}</h2>
          <div class="meta">
            <div><author>{{ post.author }}</author></div>
            <div><date>{{ post.dateString }}</date></div>
          </div>
          <hr>
          <div class="content">
            {{ post.content | safe }}
          </div>
        </article>
      {% endfor %}
    </div>
  </div>
</div>
{% endblock %}
