body {
  color:#C63D0F;
  font-family: sans-serif; 
  font-size: 2em;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#4c4c4c+0,1c1c1c+0,000000+38,000000+38,2d2d2d+72,2b2b2b+100 */
  background: rgb(76,76,76); /* Old browsers */
  background: -moz-linear-gradient(top,  rgba(76,76,76,1) 0%, rgba(28,28,28,1) 0%, rgba(0,0,0,1) 38%, rgba(0,0,0,1) 38%, rgba(45,45,45,1) 72%, rgba(43,43,43,1) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top,  rgba(76,76,76,1) 0%,rgba(28,28,28,1) 0%,rgba(0,0,0,1) 38%,rgba(0,0,0,1) 38%,rgba(45,45,45,1) 72%,rgba(43,43,43,1) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom,  rgba(76,76,76,1) 0%,rgba(28,28,28,1) 0%,rgba(0,0,0,1) 38%,rgba(0,0,0,1) 38%,rgba(45,45,45,1) 72%,rgba(43,43,43,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4c4c4c', endColorstr='#2b2b2b',GradientType=0 ); /* IE6-9 */
}

a:link {
  color:#ff3333;
}

a:visited {
  color:#ff6666;
}

a:hover {
  color:#ff8080;
}

a:active {
  color:#660000;
}

.post-meta{
  font-size: 1em;
  font-family:"Times New Roman", "Times", sans-serif;
}

.post-body{
  font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif;	
  font-size: 1em;
}

.page-content{
  font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif;	
  font-size: 1em;
}

.post-title{
  font-size: 2.5em;
  font-family:"Courier New", Courier, monospace;
}


.more-link{
  font-color:#0D8C0D; 
}

img {
   width:auto;
}

#relatedPosts li{
  margin-right:1em;
}

#relatedPosts li:after{
  margin-left:1em;
  content: '|';
}

#relatedPosts li:last-child:after{
  margin-left:1em;
  content: '';
}

#relatedPostTemplate{
  display:none;
}

#taggedPostTemplate{
  display:none;
}

#relatedPosts{
  text-align:center;
}



